body{
    margin: 0 auto;
    background-color: rgb(255, 210, 217);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70%;
}

.tudo{
    margin-top: 8%;
}

.title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
}

.escolha{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    text-decoration: none;
}

.escolha a{
    color: white;
    text-decoration: none;
}

.escolha a .gustavo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    color: white;
    background-color: rgb(43, 43, 223);
    width: 20vh;
    height: 60px;
    font-size: 20px;
}

.escolha .gustavo:hover{
    background-color: rgb(111, 111, 252);
}

.escolha .gustavo:active{
    background-color: rgb(43, 43, 223);
}

.escolha button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    background-color: #fc0fc0;
    width: 20vh;
    height: 60px;
    font-size: 20px;
}

.escolha button:hover{
    background-color: #ff64d8;
}

.escolha button:active{
    background-color: #fc0fc0;
}

.foto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.foto img{
    max-width: 250px;
    max-height: 500px;
}

.fotos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.fotos img{
    max-width: 250px;
    max-height: 500px;
}